#mapping {
  width: 80%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(200px);
  grid-gap: 30px;
  margin-top: 0px;
  margin: auto;
  font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f9f9f9;
}
#card:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
img {
  margin: auto;
}

#bold {
  font-weight: bold;
}

/* -------------------------------------------------- */



.Ongoing {
    border-radius: .5px;
  
    padding: "20px 40px";
  }
  
  .History {
    border-radius: .5px;
  
    padding: "20px 40px";
  }
  
  #book {
    border-radius: 0%;
    background-color: black;
    color: white;
    padding: "20px 50px";
  }
  
  #dark {
    background-color: black;
    color: white;
  }
  
  #light {
    background-color: white;
    color: black;
  }
  