

.Ongoing {
  border-radius: .5px;

  padding: "20px 40px";
}

.History {
  border-radius: .5px;

  padding: "20px 40px";
}

#book {
  border-radius: 0%;
  background-color: black;
  color: white;
  padding: "20px 50px";
}

#dark {
  background-color: black;
  color: white;
}

#light {
  background-color: white;
  color: black;
}
