* {
    font-family: 'Roboto', sans-serif;
}

#cartwindow {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

#cartbox {
    /* border: 1px solid red; */
    /* height: 500px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    text-align: left;
}


#cartbox>div {
    /* border: 1px solid green;  */
    height: 100%;
}
#cartbox>div:nth-child(1){
    width: 58%;
}

.cartprod {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
}

#qtybox {
    border: 1px solid rgb(110, 66, 229);
    color: rgb(110, 66, 229);
    border-radius: 10px;
    background: rgb(241, 236, 255);
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 2px 15px;
    font-size: 20px;
    position: absolute;
    right: 20%;
}
#qtybox:hover{
    cursor: pointer;
}
.removeBut {
    padding-left: 18px;
    padding-right: 18px;
    /* padding: 10px; */
    background-color: rgb(241, 236, 255);
    border: 1px solid rgb(110, 66, 229);
    color: rgb(110, 66, 229);
    border-radius: 10px;
}

#paySum {
    padding: 20px;
    width: 38%;
}

#paySum>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media (max-width: 500px) {
    #cartwindow {
        width: 95%;
    }
    #cartbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
        margin: auto;
    }
    #cartbox>div:nth-child(1){
        width: 100%;
    }
    .cartprod {
        padding: 5px 10px;
        margin-bottom: 20px;
    }
    #paySum {
        padding: 10px;
        width: 100%;
    }
    #qtybox {
        gap: 20px;
        padding: 0px 10px;
        right: 20%;
    }
    
}

@media (min-width: 30em) and (max-width: 50em) {
    #cartwindow {
        width: 80%;
    }
    #cartbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
        margin: auto;
    }
    #cartbox>div:nth-child(1){
        width: 100%;
    }
    .cartprod {
        padding: 5px 10px;
        margin-bottom: 20px;
    }
    #paySum {
        padding: 10px;
        width: 100%;
    }
    #qtybox {
        gap: 20px;
        padding: 0px 10px;
        right: 20%;
    }
    
  }