.contain{
    text-align: left;
    background-color: #e5e5e5 ;
    margin: 0% 22% 1% 22%;
}

.title{
    padding-top: 2% 0%;
    position: fixed;
    top: 0%;
    left: 22%;
    width: 56%;
}

.title p{
    font-size: 22px;
    font-weight: 700;
    background-color: white;
}

.title .amount{
    font-size: 16px;
    color: gray;
}

.card{
    background-color: white;
    padding: 3%;
}

.heading{
    background-color: white;
}

.home{
    margin-left: 200%;
    font-weight: bold;
    color: white;
    background-color: #6e42e5;
    margin-bottom: 2%;
}

.home:hover{
    background-color: #5e3dc2;
}