* {
  margin: 0;
  padding: 0;
}

.appliances_container {
  width: 100%;
  text-align: center;
}

.appliances_content {
  width: 70%;
  margin: auto;
  padding: 70px 0px 0px 0px;
}

.content_img img:hover {
  transform: scale(1.1);
  border-radius: 12px;
}
